*{
    margin: 0;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.hearts img{
    width: 40px;
    aspect-ratio: 1/1;/* hace que mantenga la proporción de la imagen */

}



