@font-face {
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}

* {
    text-align: center;
    margin: 0;
    font-family: Montserrat;
    font-weight: 350;

}

img {
    width: 70vh;
    height: auto;
}

html,body {
    height: 100%;
}

p {
    font-size: 5em;
}

h1 {
    font-size: 3em;
}

.vidas h1:last-child{
    color: crimson;
}

.crono h1:last-child{
    color: green;
}

.contenedor {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: .5;
    padding: 0 15px;
}

.cabecera>div:first-child,
.cabecera>div:last-child {
    flex: .1;

}

.botonReset {
    width: 30px;
    height: auto;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.reset {
    display: flex;
    justify-content: end;
    flex: 1;

}

.interfaz {
    display: flex;
    flex: 1;
}

.dibujo {
    flex: 1;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.palabra {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    flex: 1;
}

#hiddenWord{
    letter-spacing: 15px;
}

.datos {
    display: flex;
    flex: 1;
}

.vidas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
}

.crono {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
}

.keyboard {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    gap: 5px;
}

.button {
    width: 100px;
    /* Ancho del botón en píxeles */
    height: 40px;
    /* Alto del botón en píxeles */
    font-size: 18px;
    /* Tamaño de la fuente del texto del botón */

}